#key_points{
  margin-top: 20px;
  text-align: justify;
}
.dropcaps{
  background: #3a3a3a;
  color: #fff;
  font-size: 1.3em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 0 5px 0 0;
  text-align: center;
  width: 1.5em;
  display: inline-block;
  float: left;
}
.video{
  width: 480px;
  height: 270px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.square{
  list-style: square;
  list-style-position: outside;
  padding-left: 1rem;
}