<div class="gray_background" id="faqs">
    <div class="wrapper clearfix">
      <h4>Frequently Asked Questions</h4>
        <ul>
          <li class=''>
            <details class=''>
              <summary class=''>Will students become professional software programmers at the end of the program?</summary>
              <p>Probably not. Rather, our goal will be to ensure students achieve the basics to create a simple but quality website.  And more importantly, we hope to give them the exposure to be one step closer to discovering what they would really like to do - whether it is coding for the web or something else.</p>
            </details>
          </li>
        </ul>
    </div>
</div>
