<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        What is the problem?
      </h3>
      <p>
        In developing nations, being a bright kid with potential isn't enough to go up the socio-economic ladder or reach your full potential.  In fact, for most kids born into low-income families, life is riddled with roadblocks to success.
      </p>
      <p>
        <a href="http://coderise.org">Coderise</a> adresses this problem by training and empowering high-school level students with not just access to technology but with the programming skills that are in demand today in order to build great web applications.
      </p>
      <p>
        Our mission is to empower high-school students with demonstrated potential by giving them the tools and inspiration to dive into tech innovation and tap into their entrepreneurial spirit.
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        How we are going to fix it?
      </h3>
      <p>
        We're starting off with a pilot program of 20 high-school kids in Medellin, Colombia.  For  two months, they'll take an interactive course with instructors who share our vision, and apply everything they learn each day toward developing a website or application they will present at the end of the program.
      </p>
      <p>
        Participants are going to be challenged to stretch their limits of creativity, learning with each other and learning to learn.  In addition to simulating real live situations, they will also get face time with successful and passionate tech entrepreneurs and programmers that will share mind-opening stories of both success and hardship.
      </p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        Where your contributions will go?
      </h3>
      <p>Travel costs for inspirational tech entrepreneurs and programmers to visit us.</p>
        <br />
        <p>Meals and transportation for participants - keeping it accessible to everyone.</p>
        <br />
        <p>Program costs including material for daily courses and visits to local tech initiatives - anything from Barcamps and DemoDays to Meetups in Medellin.</p>
        <br />
        <p>Program Evaluation to make sure we evaluate what works and what doesn't, in order to continue improving.</p>
    </div>
  </div>
</div>