<div class="sidebar fourcol">
	<%= render 'preorder/homepage/stats' %>
	<%= form_tag "/preorder/prefill", :id => "sidebar" do %>
  		<%= render 'preorder/payment_options' %>
  		<%= submit_tag "Support now", :class => "blue_button", :id => "amazon_button" %>
  	<% end %>
</div>