.footer 
{
  padding: 20px 0;
  *position: absolute;
  *bottom: 0;
  width: 100%;
  height: 46px;

  ul 
  {
    float: left;
  }
  li 
  {
    margin-bottom: 10px;
  }
  a 
  {
    font-size: 0.75rem;
    color: #FFFFFF;
    font-family: $primary_font, $tertiary_font;
  }
  p 
  {
    font-size: 0.75rem;
    color: #FFFFFF;
  }
}