.footer 
{
  padding: 20px 0;
  *position: absolute;
  *bottom: 0;
  width: 100%;
  height: 46px;
  font-family: $secondary_font, $tertiary_font;

  ul 
  {
    float: left;
  }
  li 
  {
    margin-bottom: 10px;
  }
  a 
  {
    color: #FFFFFF;
  }
  a:hover{
    color: #09acb0;
  }
  p 
  {
    font-size: 0.85rem;
    color: #FFFFFF;
    padding: 9px 20px;

  }
}