.footer 
{
  padding: 40px 0;
  ul 
  {
    float: left;
  }
  li 
  {
    margin-bottom: 10px;
  }
  a 
  {
    font-size: 0.75rem;
    color: #FFFFFF;
    font-family: $primary_font, $tertiary_font;
  }
  p 
  {
    font-size: 0.75rem;
    color: #FFFFFF;
  }
}