/* For modern browsers */
.clearfix:before,
.clearfix:after 
{
  content:"";
  display:table;
}
.clearfix:after 
{
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

 code
 {
  border: 1px solid #CCC;
  padding: 1px;
  vertical-align: middle;
  font-family: "Consolas", "Inconsolata", "Meslo", "Inconsolata-dz", monospace;
  text-shadow: none;
  font-size: 10pt;
 }

html, body {
  height: 100%;
  font-size: $font_size;
}

body {
  background: $body_background;
  line-height: $line_height;
}

.disabled
{
  opacity: 0.65;
  pointer-events: none;
}

form
{
  margin-top: 15px;
}

body, input, textarea 
{
  font-family: $primary_font, $tertiary_font;
  color: $text_color;
  *text-shadow: $text_shadow;
  -webkit-font-smoothing: antialiased;
}

a 
{
  cursor: pointer;
  text-decoration: none;
  color: $link_color;
}

a.link{
  color: #09acb0;
}

i 
{
  font-style: italic;
}

.wrap{
  padding: 40px 0;
}

.wrap-mini{
  padding: 20px 0;
}

.wrap-gray{
  background: #f2f2f2;
  *padding-top: 1.25rem;
  *padding-bottom: 1.25rem;
  margin: 0;
  -webkit-transition: height 0.15s ease-in-out;
  -moz-transition: height 0.15s ease-in-out;
  -o-transition: height 0.15s ease-in-out;
  transition: height 0.15s ease-in-out;
}

.wrap-navy{
  background: #063a5b;
  margin: 0;
}


// Used in the FAQ
details, summary
{
  outline: none;
}
summary
{
  text-decoration: none;
  color: $summary_color;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 20px;
  line-height: 1.3;

}
summary:hover
{
  text-decoration: underline;
  cursor: pointer;
}
details summary::-webkit-details-marker { display:none; content: ""; }
// Styling the polyfill for browsers that don't support details/summary tags
.no-details details { display: block }
.no-details details > summary::before { content:none }
.no-details details.open > summary::before {   content:none }

body h1, body h2, body h3, body h4, body h5, body h6{
  margin-bottom: 1em;
  text-transform: uppercase;
}

h1 {
  margin: 0 auto;
  margin-left: 380px;
  width: 174px;
  font-family: $secondary_font, $tertiary_font;
  font-size: 42px;
  font-weight: bold;
  color: $h1_color;
  letter-spacing: -.05em;
  float: left;
  a
  {
    color: $h1_color;
    text-decoration: none;
  }
  a:hover
  {
    color: $h1_color;
    text-decoration: none;
  }
}

h2 {
  font-family: $secondary_font, $tertiary_font;
  font-weight: bold;
  font-size: 1.55rem;
  letter-spacing: .2em;
  color: $h2_color;
  margin-bottom: 1em;
}

h4 {
  font-family: $secondary_font, $tertiary_font;
  font-size: 1.25rem;
  letter-spacing: .1em;
  font-weight: bold;
  color: $h4_color;
  margin-bottom: 1em;
}

h5 {
  font-family: $secondary_font, $tertiary_font;
  font-size: 1.15rem;
  letter-spacing: .1em;
  font-weight: bold;
  margin-bottom: 1em;
  color: $h5_color;
  text-transform: uppercase;
  
}

.wrapper {
  width: 935px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

strong {
  font-weight: bold;
}

.button:hover {
  text-decoration: none;
  color: $button_hovered_color;
}

.button:active {
  background: $button_active_background;
  border: 1px solid $button_active_border;
}

body.lt-ie9 {
  .blue_button {
    background-color: rgba(6, 58, 91, 0.75);
    background-image: none !important;
  }
  .blue_button:hover {
    background-color: rgba(6, 58, 91, 1) !important;
  }
}

.blue_button {
  font-family: $secondary_font, $tertiary_font;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3em;
  padding: 1rem;
  color: $button_color; /* text color */
  cursor: pointer;
  background-color: rgba(6, 58, 91, 0.75);
  -webkit-border-radius: $button_border_radius;
     -moz-border-radius: $button_border_radius;
          border-radius: $button_border_radius;
  -webkit-appearance: none;
}
.blue_button:hover {
  text-decoration: none;  
  background-color: rgba(6, 58, 91, 1);
    -webkit-transition: all .25s;
     -moz-transition: all .25s;
          transition: all .25s;
}

.blue_button:active {
  text-decoration: none;  
  background-color: rgba(6, 58, 91, 1);
    -webkit-transition: all .25s;
     -moz-transition: all .25s;
          transition: all .25s;
}

input[type=text], input[type=email]{
  font-size: 1rem;
  background-color: white;
  outline: none;
  border: 1px solid #e2e2e2;
  color: #626262;
  display: block;
  margin: 1rem 0 0 0;
  padding: 1rem;
  width: 75%;
  -webkit-appearance: none;
    -moz-appearance: none;
  -webkit-transition: color 0.15s ease-in-out;
    -moz-transition: color 0.15s ease-in-out;
      -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}