
/* For modern browsers */
.clearfix:before,
.clearfix:after 
{
  content:"";
  display:table;
}
.clearfix:after 
{
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
}

 code
 {
  border: 1px solid #CCC;
  padding: 1px;
  vertical-align: middle;
  font-family: "Consolas", "Inconsolata", "Meslo", "Inconsolata-dz", monospace;
  text-shadow: none;
  font-size: 10pt;
 }

html, body {
  width: 100%;
}

body {
  background: $body_background;
  line-height: $line_height;
}

.disabled
{
  opacity: 0.65;
  pointer-events: none;
}

form
{
  margin-top: 15px;
}

body, input, textarea 
{
  font-size: $font_size;
  font-family: $primary_font, $tertiary_font;
  color: $text_color;
  *text-shadow: $text_shadow;
  -webkit-font-smoothing: antialiased;
}

a 
{
  text-decoration: none;
  color: $link_color;
}

i 
{
  font-style: italic;
}




// Used in the FAQ
details, summary
{
  outline: none;
}
summary
{
  text-decoration: none;
  color: $summary_color;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-size: 20px;
  line-height: 1.3;

}
summary:hover
{
  text-decoration: underline;
  cursor: pointer;
}
details summary::-webkit-details-marker { display:none; content: ""; }
// Styling the polyfill for browsers that don't support details/summary tags
.no-details details { display: block }
.no-details details > summary::before { content:none }
.no-details details.open > summary::before {   content:none }

body h1, body h2, body h3, body h4, body h5, body h6{
  margin-bottom: 1em;
}

h1 {
  margin: 0 auto;
  margin-left: 380px;
  width: 174px;
  font-family: $secondary_font, $tertiary_font;
  font-size: 42px;
  font-weight: bold;
  color: $h1_color;
  letter-spacing: -.05em;
  float: left;
  a
  {
    color: $h1_color;
    text-decoration: none;
  }
  a:hover
  {
    color: $h1_color;
    text-decoration: none;
  }
}

h2 {
  font-family: $secondary_font, $tertiary_font;
  font-weight: bold;
  font-size: 1.55rem;
  letter-spacing: .2em;
  color: $h2_color;
  margin-bottom: 1em;
}

h4 {
  font-family: $secondary_font, $tertiary_font;
  font-size: 1.25rem;
  letter-spacing: .1em;
  font-weight: bold;
  color: $h4_color;
  margin-bottom: 1em;
}

h5 {
  font-family: $secondary_font, $tertiary_font;
  font-size: 1.15rem;
  letter-spacing: .1em;
  font-weight: bold;
  margin-bottom: 1em;
  color: $h5_color;
  text-transform: uppercase;
  
}

.wrapper {
  width: 935px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.gray_background 
{
  width:  100%;
  padding: 50px 0;
  background: $gray_background_top_color; /* Old browsers */
  background: -moz-linear-gradient(top,  $gray_background_top_color 0%, $gray_background_middle_color 50%, $gray_background_bottom_color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gray_background_top_color), color-stop(50%,$gray_background_middle_color), color-stop(100%,$gray_background_bottom_color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $gray_background_top_color 0%,$gray_background_middle_color 50%,$gray_background_bottom_color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $gray_background_top_color 0%,$gray_background_middle_color 50%,$gray_background_bottom_color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $gray_background_top_color 0%,$gray_background_middle_color 50%,$gray_background_bottom_color 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $gray_background_top_color 0%,$gray_background_middle_color 50%,$gray_background_bottom_color 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f6f6f6', endColorstr = '#fafafa', GradientType = 0);
  border-bottom: 1px solid $gray_background_border_color;
}

.button:hover {
  text-decoration: none;
  color: $button_hovered_color;
}

.button:active {
  background: $button_active_background;
  border: 1px solid $button_active_border;
}

body.lt-ie9 {
  .blue_button {
    background-color: rgba(6, 58, 91, 0.75);
    background-image: none !important;
  }
  .blue_button:hover {
    background-color: rgba(6, 58, 91, 1) !important;
  }
}

.blue_button {
  font-family: $secondary_font, $tertiary_font;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .3em;
  padding: 1rem;
  color: $button_color; /* text color */
  cursor: pointer;
  background-color: rgba(6, 58, 91, 0.75);
  -webkit-border-radius: $button_border_radius;
     -moz-border-radius: $button_border_radius;
          border-radius: $button_border_radius;
}
.blue_button:hover {
  text-decoration: none;  
  background-color: rgba(6, 58, 91, 1);
    -webkit-transition: all .25s;
     -moz-transition: all .25s;
          transition: all .25s;
}

.blue_button:active {
  text-decoration: none;  
  background-color: rgba(6, 58, 91, 1);
    -webkit-transition: all .25s;
     -moz-transition: all .25s;
          transition: all .25s;
}