$body_background: #FFFFFF;

// Right now, we don't really use h1 and h2's correctly.
// We'll fix it soon!

$h1_color: #09A1A1;
$h2_color: #09A1A1;
$h4_color: #09A1A1;
$h5_color: #09A1A1;

$text_color: #626263;
$link_color: #626263;
$font_size: 18px;
$line_height: 150%;

$primary_font:   "PT Serif";
$secondary_font: "PT Sans Narrow";
$tertiary_font:  "sans-serif";

$button_color: 						white;
$button_hovered_color: 				#0088d6;
$button_active_background: 		 	#FAFAFA;
$button_active_border: 				#C8C8C8;


// FAQ Entry
$summary_color: #0088D6;