<div class="wrap-mini wrap-gray container">
	<div class="row">
		<div class="twelvecol">
			<h2 class="title" style="margin-bottom:0;">Support Coderise</h2>
		</div>
	</div>
</div>
<div class="container wrap">
  <div class="row">
    <%= render 'preorder/homepage/stats' %>
    <%= render 'preorder/homepage/sidebar' %>
    <%= render 'preorder/homepage/key_points' %>
  </div>
</div>